<!--<section id="content">
    <section class="vbox">
        <section class="scrollable wrapper">
            <section class="row m-b-md">
                <div class="col-sm-6">
                    <h3 class="m-b-xs text-black">Customer</h3>
                </div>
                <div class="col-sm-6 text-right text-left-xs m-t-md">
                    <form class="m-b-none" action="">
                        <div class="input-group">
                            <input type="text" placeholder="Type to Search.." class="form-control">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-primary"><i class="i i-search2"></i> Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables">
                        <thead>
                        <tr>
                            <th width="10%">Area Code</th>
                            <th width="20%">Name</th>
                            <th width="20%">Mobile No.</th>
                            <th width="15%">STB No.</th>
                            <th width="20%">Pending Reciept</th>
                            <th width="15%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </section>
</section>
-->
        Hello