    <!DOCTYPE html>
    <html class="no-focus">
    <head>
        <meta charset="utf-8">
        <title>PayMyCable</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <link rel="stylesheet" id="css-main" href="/assets/css/paymycable.css">
    </head>
    <body>
        <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-primary">
                            <ul class="block-options">
                                <li>
                                    <a href="forgot_password.html">Forgot Password?</a>
                                </li>
                            </ul>
                            <h3 class="block-title">Login</h3>
                        </div>
                        <div class="block-content block-content-full block-content-narrow" ng-controller="authenticationController">
                            <h1 class="h2 font-w600 push-30-t push-5">Paymycable</h1>
                            <p>Welcome, please login.</p>
                            <form class="js-validation-login form-horizontal push-30-t push-50"  method="post">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary floating">
                                            <input class="form-control" ng-model="loginid" type="text" id="login-username" name="login-username">
                                            <label for="login-username"><i class="glyphicon glyphicon-user"></i> Username</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary floating">
                                            <input class="form-control" type="password" ng-model="password" id="login-password" name="login-password">
                                            <label for="login-password"><i class="si si-key"></i> Password</label>
                                        </div>
                                    </div>
                                </div>
                                    <div ng-show="isError" class="help-block text-right animated fadeInDown">
                                        {{error}}
                                    </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="css-input switch switch-sm switch-primary">
                                            <input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> Remember Me?
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <button class="btn btn-block btn-primary" ng-click="login()" type="button"><i class="si si-login pull-right"></i> Log in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600"><span class="js-year-copy"></span> &copy; Paymycable</small>
        </div>
        <script src="/app/node_modules/requirejs/require.js" data-main="/app/main.js"></script>
    </body>
    </html>