<div>
    <div class="m-b-md">
        <h3 class="m-b-none text-center">Create Area</h3>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="validation-city">Area Code</label>
                            <input ng-model="code" class="form-control" type="text" placeholder="Area Code ">
                        </div>
                        <div class="form-group">
                            <label for="validation-city">Area Name</label>
                            <input ng-model="name" class="form-control" type="text" id="validation-city" name="validation-city" placeholder="Area Name">
                        </div>
                        <!--
                        <div class="form-group">
                            <label for="validation-city">City/Town</label>
                            <input ng-model="city" class="form-control" type="text" id="validation-city" name="validation-city" placeholder="City/Town Name">
                        </div>-->
                        <a href="/areas"><button class="btn btn-sm btn-danger" type="submit">Cancel</button></a>
                        <button ng-show="isCreate" class="btn btn-sm btn-primary" ng-click="createArea()"><i class="fa fa-check"></i>Create</button>
                        <button ng-hide="isCreate" class="btn btn-sm btn-primary" ng-click="updateArea()"><i class="fa fa-check"></i>Update</button>
                    </form>
                </div>
            </section>
        </div>

    </div>
</div>