<div id="content">
    <div class="vbox">
        <div class="scrollable padder">
            <div class="m-b-md">
                <h3 class="m-b-none">Add Customer</h3>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form id="wizardform" method="get" action="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs font-bold">
                                    <li><a href="#step1" data-toggle="tab">1. Customer Data</a></li>
                                    <li><a href="#step2" data-toggle="tab">2. Plans & CAF Details</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="line line-lg"></div>
                                <div class="progress progress-xs m-t-md">
                                    <div class="progress-bar bg-success"></div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="step1">
                                        <h4>1. Customer Data</h4>
                                        <div class="row">
                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Name</p>
                                                <input ng-model="name" class="form-control" type="text" data-trigger="change" data-required="true" placeholder="Customer Name">
                                            </div>
                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Mobile Number</p>
                                                <input ng-model="mobile_no" class="form-control" type="number" size="10" data-trigger="change" data-required="false" placeholder="Customer Mobile Number">
                                            </div>
                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Email</p>
                                                <input ng-model="email" class="form-control" type="text" data-trigger="change" data-required="false" placeholder="Customer Email ID">
                                            </div>
                                        </div>

                                        <div class="row">


                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>City</p>
                                                <input ng-model="city" class="form-control" type="text" data-trigger="change" data-required="true" placeholder="Where do customer live?">
                                            </div>
                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>ID Proof</p>
                                                <input ng-model="id_proof" class="form-control" type="text" data-trigger="change" data-required="true" placeholder="Who's ID Proof?">
                                            </div>

                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Old Balance</p>
                                                <input ng-model="old_balance" class="form-control" type="number" data-trigger="change" data-required="true" placeholder="Old Balance If Any?">
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Area</p>
                                                <select ng-model="area" class="form-control" size="1" data-trigger="change" data-required="true">
                                                    <option value="">Select Area</option>
                                                    <option value="1">Anjenayaswamy temple Road</option>
                                                    <option value="2">B.H Road</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Choose a date</p>
                                                <input ng-model="installation_date" class="form-control  datepicker-input" type="text" data-trigger="change" data-required="true" size="16" type="text" placeholder="Select Date?" data-date-format="dd-mm-yyyy">
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-12" style="padding-right:20px;">
                                                <p>Address</p>

                                                <textarea ng-model="address" class="form-control" rows="2" data-trigger="change" data-required="false" placeholder="Enter Customer Address"></textarea>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="tab-pane" id="step2">

                                        <h4>2. Plans & CAF Details</h4>

                                        <div class="row">

                                            <div class="col-sm-3" style="padding-right:20px;">
                                                <p>STB Number</p>
                                                <input ng-model="sbt_no" class="form-control" type="text" data-trigger="change" data-required="false" placeholder="Set Top Box Number">
                                            </div>
                                            <div class="col-sm-3" style="padding-right:20px;">
                                                <p>CAF</p>
                                                <input ng-model="caf" class="form-control" type="text" data-trigger="change" data-required="false" placeholder="Customer Address Form">
                                            </div>
                                            <div class="col-sm-3" style="padding-right:20px;">
                                                <p>Box Series</p>
                                                <input ng-model="box_series" class="form-control" type="text" data-trigger="change" data-required="false" placeholder="BOX Series">
                                            </div>
                                            <div class="col-sm-3" style="padding-right:20px;">
                                                <p>status</p>
                                                <select ng-model="status" class="form-control" size="1" data-trigger="change" data-required="true">
                                                    <option value="">Please select your status</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">In-Active</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Plan</p>
                                                <select ng-model="plan" class="form-control" size="1" data-trigger="change" data-required="true">
                                                    <option value="">Please select your Plan</option>
                                                    <option value="1">plan 1</option>
                                                    <option value="2">Plan 2</option>
                                                </select>

                                            </div>
                                            <div class="col-sm-4" style="padding-right:20px;">
                                                <p>Discount</p>
                                                <input ng-model="discount" class="form-control" type="text" data-trigger="change" data-required="false" placeholder="Discount">
                                            </div>
                                            <div class="col-sm-4 text-right" style="padding-right:20px; padding-top:20px;">
                                                <a style="cursor:pointer;"><i class="i fa-2x i-plus"></i></a>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="tab-pane" id="step3">Finish</div>
                                    <ul class="pager wizard m-b-sm">
                                        <li class="previous first" style="display:none;"><a href="#">First</a></li>
                                        <li class="previous"><a href="#">Previous</a></li>
                                        <li class="next last" style="display:none;"><a href="#">Last</a></li>
                                        <li class="next"><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</div>