<!DOCTYPE html>
<html class="no-focus">
<head>
    <meta charset="utf-8">
    <title>Paymycable</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <link rel="stylesheet" id="css-main" href="assets/css/paymycable.css">
</head>

<body ng-app="pmcApp">
    <div class="content overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="block block-themed animated fadeIn">
                    <div class="block-header bg-primary">
                        <ul class="block-options">
                            <li>
                                <a href="forgot_password.html">Forgot Password?</a>
                            </li>
                        </ul>
                        <h3 class="block-title">Login</h3>
                    </div>
                    <div class="block-content block-content-full block-content-narrow" ng-controller="authenticationController">
                        <h1 class="h2 font-w600 push-30-t push-5">Paymycable</h1>
                        <p>Welcome, please login.</p>
                        <form class="js-validation-login form-horizontal push-30-t push-50" method="post">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating">
                                        <input class="form-control" type="text" ng-model="loginid" id="login-username" name="login-username">
                                        <label for="login-username"><i class="si si-user"></i> Username</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating">
                                        <input class="form-control" type="password" ng-model="password" id="login-password" name="login-password">
                                        <label for="login-password"><i class="si si-key"></i> Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class="css-input switch switch-sm switch-primary">
                                        <input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> Remember Me?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <button class="btn btn-block btn-primary" ng-click="login()" type="button"><i class="si si-login pull-right"></i> Log in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push-10-t text-center animated fadeInUp">
        <small class="text-muted font-w600"><span class="js-year-copy"></span> &copy; Paymycable</small>
    </div>
    <script src="assets/core/jquery.min.js"></script>
    <script src="assets/js/jquery.dataTables.js"></script>
    <script src="assets/core/bootstrap.min.js"></script>
    <script src="assets/core/jquery.slimscroll.min.js"></script>
    <script src="assets/core/jquery.scrollLock.min.js"></script>
    <script src="assets/core/jquery.appear.min.js"></script>
    <script src="assets/core/jquery.countTo.min.js"></script>
    <script src="assets/core/jquery.placeholder.min.js"></script>
    <script src="assets/core/js.cookie.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="assets/pages/base_pages_login.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-cookies.js"></script>
    <script src="vendor/angular-animate.js"></script>
    <script src="vendor/angular-cache.js"></script>
    <script src="vendor/angular-resource.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="vendor/angular-datatables.directive.js"></script>
    <script src="vendor/angular-datatables.instances.js"></script>
    <script src="vendor/angular-datatables.util.js"></script>
    <script src="vendor/angular-datatables.renderer.js"></script>
    <script src="vendor/angular-datatables.factory.js"></script>
    <script src="vendor/angular-datatables.options.js"></script>
    <script src="vendor/angular-datatables.js"></script>
    <script src="vendor/ui-bootstrap.js"></script>
    <script src="vendor/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <script src="services/apiService.js"></script>
    <script src="services/constantsService.js"></script>
    <script src="services/cookieService.js"></script>
    <script src="controllers/authenticationController.js"></script>

</body>

</html>