<div>
    <div class="row m-b-md">
        <div class="col-sm-6">
            <h3 class="m-b-xs text-black">Payments</h3>
        </div>
        <div class="col-sm-6 text-right text-left-xs m-t-md">
            <form class="m-b-none" action="">
                <div class="input-group">
                    <input type="text" placeholder="Search Payments.." ng-model="search" class="form-control">
                        <span class="input-group-btn">
                              <button type="button" class="btn btn-primary"><i class="i i-search2"></i> Search</button>
                            </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row m-b-md">
        <div class="col-sm-6">
            <a class="btn btn-s-md btn-primary" ng-click="toggleadv()">Advanced search</a>

            <div ng-hide="advHide"><br>Start Date:
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                           ng-model="startDate" is-open="openedStart" ng-required="true"
                           close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStart()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
                End Date:
                <p class="input-group">

                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                           ng-model="endDate" is-open="openedEnd" ng-required="true"
                           close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEnd()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>

                <a class="btn btn-s-md btn-primary" ng-click="advancedSearch()">Search</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped m-b-none">
                <tbody>
                <tr ng-repeat="receipt in receipts | filter:search | orderBy:paidAmount">
                    <td>{{receipt.receiptNo}}</td>
                    <td>{{receipt.customerDetails}}</td>
                    <td>{{receipt.paidOn}}</td>
                    <td>{{receipt.paidAmount}}</td>
                    <td>{{receipt.remarks}}</td>
                    <td>{{receipt.agentDetails}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

