<div id="content">
    <div class="vbox bg-white">
        <div class="scrollable wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <h5 style="margin-bottom:-8px;"><b>{{agent.name}}</b></h5>
                    <hr/>
                    <p><b>Login ID:</b> {{agent.loginId}}</p>

                    <p><b>Mobile No:</b> {{agent.contactNo}}</p>

                    <p><b>Email ID:</b> {{agent.email}}</p>

                    <p><b>Address:</b> {{agent.address}}
                    </p>

                    <p><b>Account Type:</b> {{agent.accountType}}</p>
                </div>
            </div>
            <div class="well m-t">
                <h5><strong>Today's Collections:</strong></h5>
                    <h5><strong>(Amount Collected:{{getTotal()}})</strong></h5>
                <hr>
                
                <div class="table-responsive" ng-show="todayDisplay">
                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns_1"
                       class="table table-striped m-b-none">
                    <thead>
                    <!--<tr>-->
                        <!--<th width="20%">Receipt No.</th>-->
                        <!--<th width="20%">Customer Name</th>-->
                        <!--<th width="10%">Paid On</th>-->
                        <!--<th width="15%">Amount</th>-->
                        <!--<th width="20%">Remarks</th>-->
                    <!--</tr>-->
                    </thead>
                    <tbody>
                    <tr ng-repeat="receipt in paymentstoday">
                        <td>{{receipt.receiptNo}}</td>
                        <td>{{receipt.customerDetails}}</td>
                        <!--<td>{{receipt.paidOn}}</td>-->
                        <td>{{receipt.paidAmount}}</td>
                        <td>{{receipt.remarks}}</td>


                    </tr>
                    </tbody>
                </table>
                    </div>
                <div ng-hide="todayDisplay">
                    No Today's Collections!
                </div>
            </div>

            <div class="well m-t">
                <h5><strong>Old Collection Details</strong></h5>
                <hr>
                <div class="table-responsive" ng-show="oldDisplay">
                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns"
                       class="table table-striped m-b-none">
                    <thead>
                    <!--<tr>-->
                        <!--<th width="20%">Receipt No.</th>-->
                        <!--<th width="20%">Customer Name</th>-->
                        <!--<th width="10%">Paid On</th>-->
                        <!--<th width="15%">Amount</th>-->
                        <!--<th width="20%">Remarks</th>-->
                    <!--</tr>-->
                    </thead>
                    <tbody>
                    <tr ng-repeat="receipt in payments">
                        <td>{{receipt.receiptNo}}</td>
                        <td>{{receipt.customerDetails}}</td>
                        <td>{{receipt.paidOn}}</td>
                        <td>{{receipt.paidAmount}}</td>
                        <td>{{receipt.remarks}}</td>
                    </tr>
                    </tbody>
                </table>
                    </div>
                <div ng-hide="oldDisplay">
                    No Recent Payments!
                </div>
            </div>

        </div>
    </div>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</div>