<div data-ng-init="getAreas()">
    <div class="row m-b-md">
        <div class="col-sm-6 text-right text-left-xs">
            <form class="m-b-none" action="">
                <div class="input-group">
                    <input type="text" placeholder="Type to Search.." ng-model="search" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" ng-click="changeData(search)" class="btn btn-primary">
                            <i class="i i-search2"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-b-md">
        <div class="col-sm-6">
            <button ng-hide="{{isAgent}}" class="btn btn-sm btn-primary font-bold" ng-click="open()"><i class="fa fa-map-marker"></i> Add Area</button>
        </div>
    </div>
    <div class="panel panel-default">
        <ul class="list-group alt">
            <li class="list-group-item" ng-repeat="area in areas | orderBy:'name'">
                <div class="media">
                    <div class="media-body">
                        <div class="font-bold">{{area.name | limitTo: 100 }}{{area.name.length > 100 ? '...' : ''}}
                            <div class="pull-right font-bold">{{area.code}}</div>
                        </div>
                        <div><small class="text-muted">{{area.code}}</small>
                            <div class="pull-right">
                                <div>
                                    <button ng-hide="{{isAgent}}" class="btn btn-success btn-xs" ng-click="openUpdate(area.id)"><i class="fa fa-pencil"></i></button>
                                    <button ng-hide="{{isAgent}}" class="btn btn-danger btn-xs" ng-click="deleteArea(area.id)"><i class="fa fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="areaCreate.html">
    <div>
        <div class="m-b-md">
            <h3 class="m-b-none text-center">{{title}} Area</h3>
        </div>
        <alert class="col-sm-10" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            {{alert.msg}}
        </alert>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="validation-city">Area Code</label>
                                <input ng-model="code" maxlength="5" class="form-control" type="text" placeholder="Area Code ">
                            </div>
                            <div class="form-group">
                                <label for="validation-city">Area Name</label>
                                <input ng-model="name" maxlength="64" class="form-control" type="text" id="validation-city" name="validation-city" placeholder="Area Name">
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm btn-danger" ng-click="cancel()" type="submit">Cancel</button>
                                <button class="btn btn-sm btn-primary" ng-click="areaFunc()" ng-disabled="isLoading">
                                    <span ng-hide="isLoading"><i class="fa fa-check"></i>{{title}}</span> <span ng-show="isLoading"><i class="fa fa-circle-o-notch fa-spin"></i>
                                 <span class="sr-only">Loading...</span></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>