<div>
    <div class="m-b-md">
        <h3 class="m-b-none text-center">Change Password</h3>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <section class="panel panel-default">

                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input ng-model="old_password" type="password" placeholder="Old Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input ng-model="new_password" type="password" placeholder="New Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Repeat Password</label>
                            <input  ng-model="re_new_password" type="password" placeholder="ReType New Password" class="form-control">
                        </div>

                        <a href="/dashboard"><button class="btn btn-sm btn-danger" type="submit">Cancel</button></a>
                        <button class="btn btn-sm btn-primary" ng-click="updatePassword()"><i class="fa fa-check"></i>Change Password</button>
                    </form>
                </div>
            </section>
        </div>

    </div>


</div>


