<div id="content">
    <div class="vbox bg-white">
        <div class="scrollable wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <h5><b>{{customer.name}}</b></h5></td>
                                    <td>
                                        <button ng-hide="{{isAgent}}" ng-disabled="isLoading" class="btn btn-primary btn-xs font-bold pull-right" ng-click="balanceAlert()">
                                            <span ng-hide="isLoading">Balance Reminder</span><span ng-show="isLoading"><i class="fa fa-circle-o-notch fa-spin"></i><span class="sr-only">Loading...</span></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr style="margin-top:5px">
                    <p><b>Customer Serial Number:</b> {{customer.houseNo}}</p>

                    <p><b>Mobile Number:</b> {{customer.mobileNo}}</p>

                    <p><b>Email ID:</b> {{customer.emailId}}</p>

                    <p><b>House No:</b> {{customer.houseNo}}</p>

                    <!--<p><b>Id Proof:</b> {{connection.idProof}}</p>-->

                    <p><b>Pending Balance:</b> {{customer.balanceAmount}} INR</p>

                    <!--<p>Area : </p>-->

                    <p><b>Address:</b> {{customer.address}}
                    </p>

                </div>
                <div class="col-xs-12">

                </div>
            </div>
            <div class="well m-t">
                <strong>Plans & CAF Details</strong>

                <div ng-repeat="con in connections">
                    <div class="row">
                        <div class="col-xs-12">

                            <p>STB Number: {{con.setupBoxId}}
                                <br/> CAF: {{con.cafId}}
                                <br/> Box Series: {{con.boxSerialNo}}
                                <br/> Status: <span ng-if="con.status == 'ACTIVE'" class="label bg-success">Active</span><span ng-if="con.status != 'ACTIVE'" class="label bg-danger">InActive</span>
                                <br> Plan: <strong>{{connectionPlan(con.planId)}}</strong>
                                <br/> Discounted: <strong> {{con.discount}} INR</strong>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="" style="padding: 0px !important">
                <h5><strong>Recent Payments</strong></h5>
                <div ng-show="displayPayments">
                    <ul class="list-group alt" >
                        <li class="list-group-item" ng-repeat="receipt in payments">
                            <div class="media">
                                <div class="media-body">
                                    <div class="font-bold">{{receipt.customerDetails | limitTo: 100 }}{{receipt.customerDetails.length > 100 ? '...' : ''}} <i ng-hide="isInvalidRemark(receipt.remarks)" class="fa fa-exclamation-triangle text-warning" uib-tooltip="{{receipt.remarks}}" style="z-index:999"></i>
                                        <div class="pull-right font-bold text-success">{{receipt.paidAmount}} <i class="fa fa-rupee"></i></div>
                                    </div>
                                    <div><small class="text-muted font-bold">On {{receipt.paidOn}} by {{receipt.agentDetails}}</small>
                                        <div class="pull-right">
                                            <div>
                                                <small class="font-bold text-danger">{{receipt.receiptNo}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-hide="displayPayments">
                    No Recent Payments!
                </div>
            </div>

        </div>
    </div>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</div>