<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8"/>
    <title>PayMycable</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; connect-src http://52.32.136.52:9000">-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
    <link rel="stylesheet" href="vendor/angular-ui-notification.min.css">
    <link rel="stylesheet" href="vendor/ngProgress.css">
    <style>
        html, body {
            height: 100%;
            background: url("assets/images/bg-main.png");
            background-repeat:repeat;
            background-size:30%;
        }

        .main {
            height: 100%;
            width: 100%;
            display: table;
        }

        .wrapper {
            display: table-cell;
            height: 100%;
            text-align: right !important;
            vertical-align: middle;
        }
    </style>
</head>
<body class="" style="background-color: white;" ng-app="pmcApp">
<div class="main">
    <div class="wrapper">
        <div id="content" class="m-t-xl m-b-lg wrapper-md animated fadeInUp" style="background:#fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 10px;">
            <div class="container aside-xl" ng-controller="authenticationController">
                <a class="text-center block"> <img style="width:200px" src="assets/images/logo1.png"
                                                                     class="m-r-sm" alt="Pay My Cable"></a>
                <hr style="border-color:#aaa;">
                <div class="m-b-lg">
                    <p class="text-center">
                        <strong class="text-center">Sign in to get in touch</strong>
                    </p>
                    <div class="list-group">
                        <div class="list-group-item">
                            <input type="text" ng-model="loginid" placeholder="Email" class="form-control no-border">
                        </div>
                        <div class="list-group-item">
                            <input type="password" ng-model="password" placeholder="Password"
                                   class="form-control no-border">
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="login()"
                            ng-disabled="isLoading"><span ng-hide="isLoading">Sign In</span>
                        <span ng-show="isLoading"><i class="fa fa-circle-o-notch fa-spin"></i>
                                 <span class="sr-only">Loading...</span></span></button>
                  <!--  <div class="text-center m-t m-b"><a href="#">
                        <small style="color:#aaa;">Forgot password?</small>
                    </a></div>-->
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer id="footer">
            <div class="text-center padder">
                <p>
                    <small>PayMyCable<br>&copy; 2016</small>
                </p>
            </div>
        </footer>
    </div>
</div>
<!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/js/app.plugin.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-cookies.js"></script>
<script src="vendor/angular-animate.js"></script>
<script src="vendor/angular-cache.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="vendor/angular-datatables.directive.js"></script>
<script src="vendor/angular-datatables.instances.js"></script>
<script src="vendor/angular-datatables.util.js"></script>
<script src="vendor/angular-datatables.renderer.js"></script>
<script src="vendor/angular-datatables.factory.js"></script>
<script src="vendor/angular-datatables.options.js"></script>
<script src="vendor/angular-datatables.js"></script>
<script src="vendor/ui-bootstrap.js"></script>
<script src="vendor/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="vendor/Chart.min.js"></script>
<script src="vendor/angular-ui-notification.min.js"></script>
<script src="vendor/angular-chart.js"></script>
<script src="app.js"></script>
<script src="services/apiService.js"></script>
<script src="services/constantsService.js"></script>
<script src="services/cookieService.js"></script>
<script src="controllers/authenticationController.js"></script>
-->


<script src="assets/core/jquery.min.js"></script>
<script src="assets/js/jquery.dataTables.js"></script>
<script src="assets/core/bootstrap.min.js"></script>
<script src="assets/core/jquery.slimscroll.min.js"></script>
<script src="assets/core/jquery.scrollLock.min.js"></script>
<script src="assets/core/jquery.appear.min.js"></script>
<script src="assets/core/jquery.countTo.min.js"></script>
<script src="assets/core/jquery.placeholder.min.js"></script>
<script src="assets/core/js.cookie.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/pages/base_pages_login.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/angular-cookies.js"></script>
<script src="vendor/angular-animate.js"></script>
<script src="vendor/angular-cache.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="vendor/angular-datatables.directive.js"></script>
<script src="vendor/angular-datatables.instances.js"></script>
<script src="vendor/angular-datatables.util.js"></script>
<script src="vendor/angular-datatables.renderer.js"></script>
<script src="vendor/angular-datatables.factory.js"></script>
<script src="vendor/angular-datatables.options.js"></script>
<script src="vendor/angular-datatables.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="vendor/ui-bootstrap.js"></script>
<script src="vendor/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="vendor/Chart.min.js"></script>
<script src="vendor/angular-ui-notification.min.js"></script>
<script src="vendor/angular-toggle-switch.min.js"></script>
<script src="vendor/angular-chart.js"></script>
<script type="text/javascript" src="vendor/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="vendor/ngprogress.min.js"></script>
<script src="app.js"></script>
<script src="services/apiService.js"></script>
<script src="services/constantsService.js"></script>
<script src="services/cookieService.js"></script>
<script src="controllers/authenticationController.js"></script>
<script src="vendor/angular-file-saver.bundle.min.js"></script>
<script type="text/javascript">
    $(document).bind("mobileinit", function () {
        $.support.cors = true;
        $.mobile.allowCrossDomainPages = true;
    });
</script>
</body>
</html>
