<div class="vbox" data-ng-init="getPlans()">
    <div class="">
        <div class="row m-b-md">
            <div class="col-sm-12 text-right text-left-xs">
                <form class="m-b-none" action="">
                    <div class="input-group">
                        <input type="text" placeholder="Search Plans.." ng-model="search" class="form-control">
                        <span class="input-group-btn">
                              <button type="button" class="btn btn-primary"><i class="i i-search2"></i></button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
        <section class="row m-b-md">
            <div class="col-sm-6">
                <button ng-hide="{{isAgent}}" class="btn btn-sm btn-primary font-bold" ng-click="open()"><i class="i i-tag2 icon"></i> Add Plan</button>
            </div>
        </section>
        <div class="panel panel-default">
            <ul class="list-group alt">
                <li class="list-group-item" ng-repeat="plan in plans | filter:search | orderBy:'name'">
                    <div class="media">
                        <div class="media-body">
                            <div class="font-bold">{{plan.name | limitTo: 100 }}{{plan.name.length > 100 ? '...' : ''}}
                                <div class="pull-right font-bold">{{plan.amount}} <i class="fa fa-rupee"></i></div>
                            </div>
                            <div><small class="text-muted">{{plan.noOfMonths}} Months</small>
                                <div class="pull-right">
                                    <div>
                                        <button ng-hide="{{isAgent}}" class="btn btn-success btn-xs" ng-click="openUpdate(plan.id)"><i class="fa fa-pencil"></i></button>
                                        <button ng-hide="{{isAgent}}" class="btn btn-danger btn-xs" ng-click="deletePlan(plan.id)"><i class="fa fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="planCreate.html">
    <div>
        <div class="m-b-md">
            <h3 class="m-b-none text-center">{{title}} Plan</h3>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <section class="panel panel-default">
                    <div class="panel-body">
                        <form role="form">
                            <!--<div class="row">-->
                            <div class="form-group">
                                <label>Plan Name</label>
                                <input ng-model="name" ng-disabled="{{isUpdate}}" class="form-control" type="text" placeholder="Plan Name ">
                            </div>
                            <div class="form-group">
                                <label>Plan Amount</label>
                                <input ng-model="amount" class="form-control" type="number" placeholder="Plan Amount">
                            </div>
                            <!-- </div>-->
                            <!-- <div class="row">-->
                            <div class="form-group">
                                <label>Plan Duration</label>
                                <input ng-model="duration" class="form-control" type="number" placeholder="Plan Duration">
                            </div>
                            <!-- </div>-->
                            <div class="row pull-right">
                                <button class="btn btn-sm btn-danger" ng-click="cancel()" type="submit">Cancel</button>
                                <button class="btn btn-sm btn-primary" ng-click="planFunc()" ng-disabled="isLoading">
                                    <span ng-hide="isLoading"><i class="fa fa-check"></i>{{title}}</span> <span ng-show="isLoading"><i class="fa fa-circle-o-notch fa-spin"></i>
                                <span class="sr-only">Loading...</span></span>
                                </button>
                            </div>

                        </form>
                    </div>
                </section>
            </div>

        </div>
    </div>
</script>